<h1>Hello user</h1>

<h2>here's all the shops you'd like to visit</h2>
<ul> Places with links
    <li>place 1</li>
    <li>place 2</li>
    <li>place 3</li>
</ul>

<h2>here's all the places you've been</h2>
<ul> More places with links!
    <li>place 1</li>
    <li>place 2</li>
    <li>place 3</li>
</ul>