<h2>Saved Places</h2>

<% locations.forEach(function(location) { %>
    <% if (location.usersLocations.visited === false) { %>
        <p><%= location.name %></p>
    <% } %>
<% }); %>
<h2>Places You've Been</h2>

<% locations.forEach(function(location) { %>
    <% if (location.usersLocations.visited !== false) { %>
        <p><%= location.name %></p>
    <% } %>
<% }); %>