<h1>Here's the list of places to go, maybe with some sort of search bar in case I'm an ambitious bean</h1>

<h2> OR </h2>

<h1>i've been to these places woo. defs want a search bar, i've been to so many. or pagination or something</h1>

<p>fill this page based on whether i'm looking for want-to-go or been, boolean in usersLocations table</p>