<h1>Where would you like to search?</h1>

<form action="/stores/search" action="GET">
    <input type="text" name="city" placeholder="City">
    <input type="text" name="state" placeholder="State">
    <input type="submit" value="Submit">
</form>