<h1>Here will be a lovely map and list of stores you may want to visit</h1>
<div id="map">
</div>

<% shopData.shops.forEach(function (shop) { %>
    <p><a href="search/<%= shop.id %>"><%= shop.name %></a></p>
<% }); %>

<script>
    const shops = <%- JSON.stringify(shopData.shops)%>
</script>
<script src="/js/app.js"></script>
