<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a href="/" class="navbar-brand"><i class="fab fa-yarn"></i> LYS FTW</a>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <% if (!currentUser) { %>
        <li class="nav-item">
          <a href="/auth/login" class="btn m-2 float-right btn-outline-secondary">Login</a>
        </li>
        <li class="nav-item">
          <a href="/auth/signup" class="btn m-2 float-right btn-outline-primary">Signup</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a href="/" class="btn m-2 float-right btn-outline-primary">Search</a>
        </li>
        <li class="nav-item">
          <a href="/profile" class="btn m-2 float-right btn-outline-primary">Profile</a>
        </li>
        <li class="nav-item">
          <a href="/auth/logout" class="btn m-2 float-right btn-outline-secondary">Logout</a>
        </li>
      <% }; %>
    </ul>
  </div>
</nav>