<div class="main-search">
    <form class="form-inline" action="/stores/search" action="GET">
        <div class="form-group" id="search-controls">
            <input type="text" class="form-control m-2" id="search-input" name="location" placeholder="City, State, Zip...">
            <button type="submit" class="btn btn-primary m-2">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
    <p class="lead">Search your neighborhood for local yarn stores!</p>
</div>