<h2>Profile Page</h2>

<p>Hello, <%= currentUser.name %></p>

<h3>Where would you like to go?</h3>
<p><a href="/stores">Store Search</a></p>
<p><a href="/profile/list">Store Lists</a></p>


<p><%= currentUser.id %></p>

<a href="/">Home</a>
