#map {
    width: calc(66.666667% - 30px);
    height: calc(100% - 90px);
    margin-bottom: 30px;
    position: fixed;
    top: 69px;
}

#search-controls{ 
    width: 100%;
}

#search-input {
    width: calc(100% - 75px);
}

#note-form { 
    width: 100%;
}

#note-input { 
    width: calc(100% - 72px);
}

.search-input { 
    position: fixed;
    z-index: 100;
    padding: 10px 0;
    width: calc(33.3% - 30px);
    top: 69px;
}

.hide-footer { 
    position: fixed;
    z-index: 100;
    top: calc(100% - 30px);
    width: calc(33.3% - 30px);
    height: 30px;
}

.main-search {
    width: 40%;
    min-width: 400px;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.main-search .lead {
    text-align: center;
}

.search-results { 
    position: relative; 
    top: 100px;
}

p.contact { 
    margin: 10px 5px;
}

.day-of-week { 
    float: left; 
    text-align: center;
}

.hours {
    display: flex;
    justify-content: space-around;
}

.jumbotron {
    text-align: center;
}

.fa-calendar-check {
    color: green; 
}

.fa-calendar-times {
    color: red;
}

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.location-list {
    position: relative;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    border-bottom-color: #f8f9fa;
}

.list-cards {
    min-width: 32%;
    max-width: 32%;
}

.heart {
    position: absolute;
    bottom: 4px;
    right: 4px;
}

body {
    margin-top: 69px;
}